.box-body.groups-store {
  margin:  auto;
  width: 60%;
}
.generate_credit {
  height: 45px;
  width:  55%;
  border: 2px solid #4E8CD7;
  border-radius:  5px;
  padding: 0px 0px 0px 4%;
  color: #4E8CD7;
  font: icon;
  height: auto;
}
.header-package {
  background-color:  #457DC0;
  color:  #FFFFFF;
  padding: 0px 0px 5px 15px;
}
.box-body.row.list-credit {
  margin-left:  0px;
  margin-right:  0px;
}
.btn.add-credit {
  color: #FFFFFF;
  background-color: #457DC0;
  border-color: #457DC0;
}